/* Používáme intuitivní výpočet rozměrů prvků. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.header,
.left {
  background-color: bisque;
}

.image {
  height: 230px;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-image {
  background-image: url(images/books.jpg);
  background-position: center;
  width: 100%;
  height: 500px;
  background-color: bisque;
}

.main-div{
  display: flex;
  
}

.article-div{
  margin: 20px;

}

.main{
margin-right: 20vw;
margin-left: 20vw;
}

h3{
  margin-left: 20px;
 
}

.footer{
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
}

.right{
  align-self: self-end;
}
